nav > ul.summary > li:first-child {
  display: none
}
nav > ul.summary > li.divider {
  display: none
}

.font-settings {
  display: none !important
}

.book-summary li.header {
  font-size: 12px;
  font-weight: bold;
  color: #555;
  padding-top: 20px;
}

.book-summary ul.summary li span {
  cursor: default;
  opacity: 0.4;
}

.book-summary ul.summary li.active > a {
  color: #f06;
  text-decoration: none;
}

.book-summary .chapter .chapter a {
  padding: 3px 6px;
  margin: 3px;
  border: 1px solid rgba(0,0,0,.07);
  background: white;
  font-size: 13px;
  font-weight: 600;
  display: inline-block;
  border-radius: 3px;
  font-family: monospace;
}

.book-summary ul.summary li.active > a:before {
  content: '» '
}

.book-summary ul.summary li a:hover {
  color: #f06;
  text-decoration: none;
}

.book-summary ul.summary {
  padding-bottom: 40px;
}

code[class*="language-"],
pre[class*="language-"] {
  text-shadow: none;
}

.color-theme-2 .token.keyword {
  color: #f06;
}

.token.operator {
  background: none;
}
